/* || Reset */
:root {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;

  --light-color: #f3eed9;
  --mid-color: #824936;
  --dark-color: #222c2a;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

/* || Elements */
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  margin-bottom: 0.75em;
}

h1 {
  font-size: 3rem;
}

p {
  font-weight: 400;
  margin-bottom: 1em;
}

p:last-child {
  margin-bottom: 0;
}

/* || Reusable classes */
.container {
  max-width: 55rem;
  margin: 0 auto;
  padding: 4rem 1em;
}

.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.flex-gap {
  gap: 2.5rem;
}
.flex-center {
  justify-content: center;
  align-items: center;
}
.flex-adapt {
  flex-direction: column; 
  align-items: center;
}

.text-center {
  text-align: center;
}

.light-color {
  color: var(--light-color);
}
.mid-color {
  color: var(--mid-color);
}
.dark-color {
  color: var(--dark-color);
}

.light-background {
  background-color: var(--light-color);
}
.mid-background {
  background-color: var(--mid-color);
}
.dark-background {
  background-color: var(--dark-color);
}

/* || Specific classes */
.header-content {
  max-width: 40rem;
  min-height: 30rem;
  text-align: center;
}

.pre-hero {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

.hero {
  margin: 0;
  line-height: 3rem;
}

@media (min-width: 650px) {
  .col {
    width: 50%;
  }
  .flex-adapt {
    flex-direction: row;
    align-items: flex-start;
  }
}