:root {
  box-sizing: border-box;

  --main-color-dark: #2e323f;
  --main-color-mid: #3b4050;
  --main-color-light: #6f737f;
  --secondary-color: #a59678;
  --off-white: rgb(212, 212, 212);
  --white: rgb(231, 231, 231);

  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/* || Standard elements */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', Arial;
}

button {
  background-color: var(--secondary-color);
  color: white;

  font-family: 'Oswald', Arial;
  text-transform: uppercase;
  font-size: 1rem;

  padding: 0.2em 1em;

  border: none;
  border-radius: 100px;
  cursor: pointer;
}
button:hover {
  opacity: 0.8;
}

a:hover {
  opacity: 0.8;
}

p {
  margin: 1em 0;
}

img {
  max-width: 100%;
}

/* || Re-usable classes */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.links {
  list-style: none;
}
.links * {
  text-decoration: none;
}

.secondary-text-color {
  color: var(--secondary-color);
}

/* || Specific classes */
.main-nav-background {
  background-color: var(--main-color-dark);
  color: var(--main-color-light);

  font-family: 'Oswald', Arial;
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 600;
}

/* || Main Nav */
.main-nav-content {
  text-align: center;
}

.main-nav-logo {
  margin-bottom: 1rem;
}

.main-nav-links {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.main-nav-links a {
  color: var(--off-white);
}

.sign-up-button {
  font-size: 1.1rem;
  font-weight: 600;
}

/* || Hero section */
.hero-background {
  background-color: var(--main-color-mid);
  color: white;
}

.hero-content {
  /* Switch display to flex when in desktop mode */
}

.hero-header {
  font-size: 4rem;
  line-height: 1em;
  margin-bottom: 0.5em;
}

.hero-aside {
}

.hero-button {
  padding: 0.2em 1.2em;
  font-size: 1.5rem;
  font-weight: 700;
}

/* || Convincer section */
.convincer-background {
  background-color: var(--white);
  text-align: center;
}

/* || Main content section */
.main-content-aside {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.main-content-aside-section {
  background-color: var(--main-color-mid);
  color: white;

  text-align: center;
  padding: 1em;
}