/* INSTRUCTIONS
 *
 * 1) Limit the total width of
 *    the .intro-content to about half
 *    of its parent
 *
 * 2) Stop the text from overflowing
 *    out the bottom at small screen
 *    widths
 *
 * You may modify the HTML if needed
 *
 */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.container {
  background: #23424a;
  color: white;

  width: 80%;
  max-width: 1000px;

  margin: 0 auto;

  padding: 2em;
}

.intro-content {
  width: 50%;
}

.mega-button {
  font-size: 1rem;
  font-weight: bold;
  padding: 1em 4em;
  border-radius: 15px;
  color: white;
  background-color: #23424a;
  border: 2px solid white;
}

.mega-button:hover {
  background-color: #2b4e5c;
}

.mega-button:active {
  background-color: #182733;
}